# EditorConfig para SecureCore Auth Framework
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.cs]
# Orden de using: System.* primero, luego terceros, luego propios
dotnet_sort_system_directives_first = true
# Preferir "var" cuando el tipo es obvio
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning
# Preferir expresiones switch (pattern matching)
csharp_style_prefer_switch_expression = true:suggestion
# Preferir primary constructors (C# 12)
csharp_style_prefer_primary_constructors = true:warning
# Usar "is not null" en vez de "!= null"
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning
# Preferir "nameof" sobre literales
csharp_style_prefer_nameof = true:warning
# Namespace: file scoped
csharp_style_namespace_declarations = file_scoped:warning
# Preferir "sealed" en clases cuando sea aplicable
csharp_style_sealed_class = true:suggestion

[*.{xml,csproj,props,targets}]
indent_size = 2
